<app-sidebar></app-sidebar>

<div class="ion-page" id="main-map-content">


  <div class="filter-container">
    <ion-segment [value]="onlyMyReports ? 'mine' : 'all'" (ionChange)="toggleFilter()" mode="ios">
      <ion-segment-button value="all">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Tous</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mine">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Moi</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>



  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div id="map"></div>

    <div class="footer-actions">
      <ion-button (click)="openRecap()" color="secondary" shape="round">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        Récap
      </ion-button>

      <ion-button
        (click)="addReport()"
        color="primary"
        shape="round"
        [disabled]="!selectedLatLng"
      >
        <ion-icon slot="start" name="add"></ion-icon>
        Signaler
      </ion-button>
    </div>
  </ion-content>
</div>
