<app-sidebar></app-sidebar>

<div class="ion-page" id="main-map-content">

  <ion-fab slot="fixed" vertical="top" horizontal="end" class="fab-filter">
    <ion-fab-button [color]="onlyMyReports ? 'success' : 'light'" (click)="toggleFilter()">
      <ion-icon [name]="onlyMyReports ? 'person' : 'people-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div id="map"></div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fab-locate">
      <ion-fab-button color="light" (click)="locateUser()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="center" class="fab-add">
      <ion-fab-button color="primary" (click)="addReport()" [disabled]="!selectedLatLng">
        <ion-icon name="add"></ion-icon>
        <ion-label>Signaler</ion-label>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
