<ion-content [fullscreen]="true">
  <div class="auth-header ion-text-center">
    <ion-icon name="alert-circle-outline"></ion-icon> <h1>RouteSafe</h1>
    <p>Signalez, Protégez, Circulez</p>
  </div>

  <div class="auth-card">
    <ion-card-content>
      <h2>Connexion</h2>

      <ion-item lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="votre@email.com"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="********"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Se connecter
      </ion-button>

      <div class="bottom-link">
        <ion-button fill="clear" (click)="goToRegister()">
          Pas de compte ? Créer un profil
          <ion-icon name="person-add-outline" slot="end"></ion-icon>
        </ion-button>
      </div>

      <ion-text color="danger" *ngIf="errorMessage" class="error-message">
        <ion-icon name="warning-outline"></ion-icon>
        {{ errorMessage }}
      </ion-text>

    </ion-card-content>
  </div>
</ion-content>
